@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

.navbar {
    font-size: 18px;
    background: linear-gradient(#247881,#22577E);
    border-bottom: #170d0d 4px solid;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links{
    margin-right: 37px;
    box-shadow: inset 0 0 0 0 #54b3d6;
    border-radius: 5px;
    color: #213b45;
    margin: 0 -.25rem;
    padding: 1rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
  .nav-links:hover {
    box-shadow: inset 125px 0 0 0 #54b3d6;
    color: rgb(12, 8, 8);
  }

.nav-links, .logo, .material-icons {
    text-decoration: none;
    color: black;
    opacity: 0.6;
}

.main-nav li {
    text-align: center;
    margin: 10px;
    margin-right: 20px;
}

.logo {
    display: flex;
    font-size: 24px;
    margin-top: 10px;
    margin-left: 30px;
}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.logo p {
    margin-top: 12px;
    padding-left: 5px;
}

.toggle-nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

.material-icons {
    font-size: 24px;
}

.active {
    display: block;
}

 #coll{
  margin-right:40px;
}

/* For large screen more than 600 */

@media screen and (min-width:600px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .toggle-nav {
        display: none;
    }
    .main-nav {
        display: flex;
        justify-content: end;
        margin-right: 30px;
    }
    .main-nav>li {
        margin: 0;
    }
    .nav-links {
        margin-left: 20px;
    }
    .logo {
        margin-top: 0;
    }
}

/* search bar section */

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}
.input-group{
    align-items: center;
    transform: translate(40%, 7%);
}
html{
    font-size: 75.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}
section{
    padding:5rem 59%;
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:linear-gradient(#247881,#22577E);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}


.home{
    background: url(css/book_\ 2.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .row .content{
    flex:1 1 42rem;
}

.home .row .books-slider{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .books-slider a img{
    height: 25rem;
}

.home .row .books-slider a:hover img{
    transform: scale(.9);
}

.home .row .books-slider .stand{
    width:100%;
    margin-top: -2rem;
}

.home .row .content h3{
    color:var(--black);
    font-size: 4.5rem;
}

.home .row .content p{
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding:1rem 0;
}
