<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="static/navbar.css">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Book-A-Thon</title>
<link rel="stylesheet" href="static/navbar.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
</head>
  <body>
    <nav class="navbar">
      <span class="toggle-nav" id="toggle-nav">
          <i class="material-icons">menu</i>
      </span>
      <a href="#" class="logo"><img src="static/Book.png" alt="">
          <p>Book-A-Thon</p>
      </a>
      <ul class="main-nav" id="main-nav">
          <li><a href="/" class="nav-links"><b>Home</b></a></li>
          <li><a href="/collection" id="coll" class="nav-links"><b>My Collection</b></a></li>
      </ul>
  </nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
  </html>
